@font-face {
    font-family: 'Pincoyablack';
    src: url('Pincoyablack-Black.woff2') format('woff2'),
        url('Pincoyablack-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

