@font-face {
    font-family: 'Artely Inks';
    src: url('ArtelyInks.woff2') format('woff2'),
        url('ArtelyInks.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

